/* Reset CSS para una base uniforme */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    max-width: 100%;
    height: auto;
}



/* Estilos para el formulario de inicio de sesión */
.logeopagina {
    background-color: #000; 
    color: #0f0; 
    font-family: 'Arial', sans-serif; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -130px;
}


.parrafo{
    background-color: #000; 
    color: #0f0; 
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding-top: 120px;
}





.tituloh2logeo {
    text-align: center; 
    margin: 0 0 20px; 
    font-size: 24px; 
    color: #0f0; 
}




.login-form {
    background: #000; 
    color: #0f0; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.login-form h2 {
    margin: 0 0 15px;
    font-size: 24px;
}

.login-form label {
    display: block;
    margin-bottom: 8px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #f00;
    border-radius: 4px;
    background: #fff;
    color: #000; 
}

.login-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background: #0f0; 
    color: #000; 
    font-size: 16px;
    cursor: pointer;
}

.login-form button:hover {
    background: #0c0; 
}

.login-form p {
    color: #f00; 
}










/* Estilos para la clase .header */
.header {
    background: rgba(0, 0, 0, 0.8); 
    padding: 20px;
    display: flex;
    justify-content: center; 
}

.header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.header nav ul li {
    margin: 0 15px;
}

.header nav ul li a {
    color: #fff; 
    text-decoration: none;
    font-weight: bold; 
    font-family: 'Arial', sans-serif; 
    padding: 10px;
    display: block;
    transition: background 0.3s, color 0.3s;
}

.header nav ul li a:hover {
    color: #000; 
    background: #fff; 
    border-radius: 4px;
    padding: 10px 15px;
}




.gallery {
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 120px); 
    gap: 10px;
    justify-content: center; 
}

.grid-container img {
    width: 120px; 
    height: 120px; 
    object-fit: cover; 
    border-radius: 4px;
    transition: transform 0.3s; 
}

.grid-container img:hover {
    transform: scale(1.1); 
}

.titulogaleria {
    text-align: center; 
    margin: 20px 0; 
}

